body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
h1{
    font-size: 3rem;
}
.counter{
    font-size: 4rem;
    margin: 20px;
}
.btn{
    background-color: transparent;
    border: 2px solid #000;
    font-size: 1rem;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
}
.btn:hover{
color: #fff;
background-color: #000;
outline: #000;

}